*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  color-scheme: light dark;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, sans-serif;
  padding: 2.5rem 1rem;
  margin: 0;
}

h1,
h2 {
  line-height: 1.2;
}

h1,
h2,
p,
ul {
  margin: 0;
}

h1 {
  letter-spacing: -0.025em;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

header p {
  color: oklch(from CanvasText l c h / 0.5);
}

form:has(> textarea),
div:has(> output) {
  display: grid;
  gap: 0.5rem;
  container-type: inline-size;
}

main {
  display: grid;
  gap: 1.5rem;
  max-width: 40ch;
}

section {
  display: grid;
  gap: 0.75rem;
  width: 100%;
}

label {
  font-size: 0.8125rem;
  font-weight: 600;
  color: var(--tx);
  display: inline-grid;
}

textarea {
  max-inline-size: 100cqi;
  field-sizing: content;
  resize: vertical;
  padding: 0.625rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid currentColor;
  background: transparent;
  transition: border-color 0.15s;
  font-size: 1.125rem;

  &:focus {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}

output {
  padding: 0.875rem 1rem;
  border-radius: 0.375rem;
  background: oklch(from CanvasText l c h / 0.05);
  min-height: 2.75rem;

  & > div {
    display: grid;
  }
  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  container-type: inline-size;
}

button {
  font: inherit;
  /* font-size: 0.8125rem; */
  font-weight: 500;
  padding: 0.375rem 0.5rem;
  color: LinkText;
  border-radius: 0.375rem;
  background: transparent;
  border: 1px solid oklch(from CanvasText l c h / 0.5);
  border: none;
  cursor: pointer;
  will-change: transform;
  transition:
    border-color 0.15s,
    color 0.15s,
    background 0.15s,
    scale 0.15s;
  &:hover {
    background: oklch(from CanvasText l c h / 0.05);
  }
  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
  &:active {
    background: oklch(from CanvasText l c h / 0.1);
    scale: 0.98;
  }
}

li > button {
  max-inline-size: 100cqi;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-box-trim: trim-both;
  font: inherit;
  font-size: 0.8125rem;
  font-style: italic;
  &::before {
    content: "“";
    color: oklch(from CanvasText l c h / 0.75);
  }
  &::after {
    content: "”";
    color: oklch(from CanvasText l c h / 0.75);
  }
  padding: 0.375rem 0.5rem;
  border: 1px solid oklch(from CanvasText l c h / 0.2);
  border-radius: 0.375rem;
  background: oklch(from CanvasText l c h / 0.05);
  color: currentColor;
  cursor: pointer;
  transition:
    border-color 0s,
    color 0s,
    background 0s;

  &:hover {
    border-color: currentColor;
    color: currentColor;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:active {
    background: oklch(from CanvasText l c h / 0.1);
  }
}

div:has(> date-time-format) {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  & relative-time-format {
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }
}
