/* Minimal modern reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  padding: 1rem;
}

:root {
  color-scheme: light dark;
  --dark: oklch(0.25 0.025 80);
  --light: oklch(0.75 0.025 80);
  --darker: oklch(0.15 0.025 80);
  --lighter: oklch(0.85 0.025 80);

  --surface: light-dark(var(--lighter), var(--darker));
  --surface-dim: light-dark(var(--light), var(--dark));
  --on-surface: light-dark(var(--darker), var(--lighter));
  --on-surface-dim: light-dark(var(--dark), var(--light));
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, sans-serif;
  background: var(--surface);
  color: var(--on-surface);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background: inherit;
}

/* Layout */
main {
  margin: 1rem auto;
  display: grid;
  gap: 2rem;
  max-width: 40rem;
}

section {
  display: grid;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: -0.02em;
  font-stretch: expanded;
}
h2 {
  font-size: 1.5rem;
  font-stretch: expanded;
  letter-spacing: -0.02em;
  & + p {
    color: var(--on-surface-dim);
  }
}

div:is(:has(input), :has(output)) {
  display: grid;
  gap: 0.5rem;
}

label {
  font-weight: 600;
  color: var(--on-surface);
}

input {
  padding: 0.75rem 0.875rem;
  border-radius: 0.5rem;
  border: 1px solid var(--on-surface-dim);
  color: var(--on-surface);
  &:focus {
    outline: 2px solid light-dark(blue, dodgerblue);
    outline-offset: 2px;
  }
}

output {
  padding: 0.75rem 0.875rem;
  border-radius: 0.5rem;
  background: var(--surface-dim);
  min-height: 2.75rem;
  display: flex;
  align-items: center;
}
